<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Style-Musicaux</title>
  <link rel="stylesheet" href="style-musicaux.component.css" >
</head>

<body>

    <div class="main-container">
      <div class="header">
        <img src="../assets/images/logoM.png">
        <h2><span>Adopte un musicien</span></h2>
    </div>
        <div class="titre">
            <h1 >Choisissez votre genre musical</h1>
        </div>

        <div class="content">
            <div class="liste_style">

                <div class="style"*ngFor="let i of styleMusicaux| async">
                    <span>{{i.nom}}</span>
                    <br>
                    <button (click)="send(i.id!)" type="submit">Ajouter</button>
                </div>

                <!-- <div class="style">
                    <span>Jazz</span>
                    <br>
                    <button (click)="send()" type="submit">Ajouter</button>
                </div>

                <div class="style">
                    <span>Blues</span>
                    <br>
                    <button (click)="send()" type="submit">Ajouter</button>
                </div>

                <div class="style">
                    <span>Soul</span>
                    <br>
                    <button (click)="send()" type="submit">Ajouter</button>
                </div>


                <div class="style">
                    <span> Electro</span>
                    <br>
                    <button (click)="send()" type="submit">Ajouter</button>
                </div>

                <div class="style">
                    <span>Hip Hop</span>
                    <br>
                    <button (click)="send()" type="submit">Ajouter</button>
                </div>

                <div class="style">
                    <span>Rock</span>
                    <br>
                    <button (click)="send()" type="submit">Ajouter</button>
                </div>

                <div class="style">
                    <span>Rap</span>
                    <br>
                    <button (click)="send()" type="submit">Ajouter</button>
                </div>

                <div class="style">
                    <span>Raggae</span>
                    <br>
                    <button (click)="send()" type="submit">Ajouter</button>
                </div>

                <div class="style">
                    <span>Var. Francaise</span>
                    <br>
                    <button (click)="send()" type="submit">Ajouter</button>
                </div>

                <div class="style">
                    <span>J-Pop</span>
                    <br>
                    <button (click)="send()" type="submit">Ajouter</button>
                </div>

                <div class="style">
                    <span>K-Pop</span>
                    <br>
                    <button (click)="send()" type="submit">Ajouter</button>
                </div>

                <div class="style">
                    <span>Indies</span>
                    <br>
                    <button (click)="send()" type="submit">Ajouter</button>
                </div>

                <div class="style">
                    <span>Hard Rock</span>
                    <br>
                    <button (click)="send()" type="submit">Ajouter</button>
                </div>

                <div class="style">
                    <span>Métal</span>
                    <br>
                    <button (click)="send()" type="submit">Ajouter</button>
                </div> -->

            </div>
        </div>

        <div class="finish">
            <button type="button"><a href="http://localhost:4200/instrument">SUIVANT</a></button>
        </div>

        <div class="footer">
            <div class="blue"></div>
            <div class="yellow">
                <span>Developped by Groupe C</span>
            </div>
            <div class="orange"></div>
        </div>



    </div>







</body>






