.container{
  width: 40%;
  background: linear-gradient(#e66465, #9198e5);
  border-radius: 2%;
  text-align: center;
}

body{
  width: 100vw;
  height: 100vh;
}

.form-group{
  font-family:  sans-serif;
  color: white;

}

html, body{
  background-color: rgb(127, 212, 212);
}
