<body>
  <div class="divMessage">
    <span *ngIf="voirMsgImage">{{ msgImageSaved }}</span>
    <span *ngIf="voirMsgInstrument">{{ msgInstrumentSaved }}</span>
  </div>

  <div class="container">
    <h2>Edition d'instrument</h2>

    <div class="form-group">
      <label for="id">ID</label>
      <input
        id="id"
        [(ngModel)]="instrument.id"
        class="form-control"
        readonly
        placeholder="généré automatiquement"
      />
    </div>
    <div class="form-group">
      <label for="nom">NOM</label>
      <input
        id="nom"
        [(ngModel)]="instrument.nom"
        class="form-control"
        [placeholder]="placeNom ? 'Saisir un nom' : ''"
      />
    </div>
    <div class="form-group">
      <label for="responsable">IMAGE</label><br />
      <label for="file-input" class="btn btn-link">{{ labelInput }}</label>
      <input
        type="file"
        (change)="onFileSelected($event)"
        class="file-input"
        id="file-input"
      />
      <button
        (click)="EnregistrerImage()"
        class="btn btn-success"
        *ngIf="monFormData.get('file')"
      >
        Valider l'image
      </button>
    </div>
    <div class="divBouton">
      <button class="btn btn-primary" (click)="save()">enregistrer</button>
      <a routerLink="/instrument" class="btn btn-warning">annuler</a>
    </div>
  </div>
</body>
