<h2>Liste des instuments dans notre base de données</h2>
<div class="container">
  <table cellspacing="0" cellpadding="0">
    <thead>
      <th>Id</th>
      <th>Nom</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let i of instruments | async">
        <td>{{ i.id }}</td>
        <td>{{ i.nom }}</td>
        <td>
          <button *ngIf="i.image" (click)="afficheImage(i.image!)">
            Voir image
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="voirImage" class="divImage">
    <button (click)="voirImage = false">❌ Fermer</button>
    <img src="data:image/jpeg;base64,{{ imageAAfficher.contenu }}" />
  </div>
</div>
