body {
  display: flex;
  flex-direction: row;
}
.radio {
  display: flex;
  flex-direction: row;
}
.filtres {
  width: 20vw;
}
.resultats {
  width: 80vw;
}
.resultat {
  display: flex;
  flex-direction: row;
}
.coordonnes {
  display: flex;
  flex-direction: row;
}
.instruments {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.instrument {
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
}
.instrument img {
  width: 100%;
  object-fit: cover;
}
.photoProfil {
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
}
.photoProfil img {
  width: 100%;
  object-fit: cover;
}
.filtreInstrument {
  display: flex;
  flex-direction: column;
}
input {
  margin: 0.4rem;
}
