<p>home works!</p>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>

    <link rel="stylesheet" href="home.component.css">
</head>


<body>
    <div class="container">
        <div class ="header">


                <img src="../../../assets/images/logoM.png" />
                <i><h1>Sans bémols</h1></i>

        </div>

    <div class ="link">
        <nav>
            <ul>
                <li >
                    <a href="link.html">Connection</a>

                </li>

                <li>
                    <a href="link.html">Inscription</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class ="text">
        <h3>Tu veux te trouver un partenaire d'apprentissage ?</h3>
        <h3>Former le nouveau groupe à la mode ?</h3>
        <h3>Partager ta passion pour la musique ?</h3>
        <h3>...</h3>
        <h3>Quelques soient tes envies et tes aspirations trouve </h3>
        <h3>ton/ta/tes musicos à adopter sur adopte un musicien ;)</h3>
    </div>
    </div>

        <footer>


            <img src="../../../assets/images/pied-page.png" />
        </footer>


</body>
</html>
