<body>
  <div class="header">
    <img src="../../../assets/images/logoM.png" />
    <h1>Adopte un musicien</h1>
    <button><a routerLink="/utilisateur">Retour profil</a></button>
    <button (click)="logout()">Deconnexion</button>
  </div>
  <div class="contenu">
    <div class="contient-liste">
      <h2>Voici la liste de vos sons</h2>
      <table class="liste">
        <tr class="element" *ngFor="let s of utilisateur.son">
          <td>
            <label (click)="ecouter(s.id!)" class="labelSon" readonly>{{
              s.titre
            }}</label>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="afficheLecture" class="contientAudio">
      <h3>Ecouter {{ titre }}</h3>
      <audio controls src="data:audio/mp3;base64,{{ contenu }}"></audio>
    </div>
    <div class="upload">
      <app-upload-son></app-upload-son>
    </div>
  </div>

  <footer>
    <!-- <img src="src\assets\images\pied-page-big.png" alt="" /> -->
    <div class="centered">Developped by Group C - Sopra Steria Paris 2022</div>
  </footer>
</body>
