<body>


  <div class="content">
    <div class="header">
      <img src="../../../assets/images/logoM.png"  />
    </div>



    <div class="connexion-inscription">
      <div class="inscription">
        <img src="../../../assets/images/inscri.png"  />
        <button onclick="location.href='http://localhost:4200/inscription'">S'inscrire</button>
      </div>

      <div class="connexion">
        <img src="../../../assets/images/connexion.jpg"  />
        <button onclick="location.href='http://localhost:4200/connexion'">Se connecter</button>
      </div>

    </div>



  </div>
</body>
