<h2>Liste de nos musiciens</h2>
<table class="table table-striped">
  <thead>
    <th>ID</th>
    <th>Pseudo</th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let u of utilisateurs">
      <td>{{ u.id }}</td>
      <td>{{ u.username }}</td>
      <td>{{ u.nom }}</td>
      <td>{{ u.prenom }}</td>
      <td>
        <a routerLink="/detail-utilisateur/{{ u.id }}" class="tbn btn-link"
          >Voir détails</a
        >
      </td>
      <!-- <td>
        <a routerlink="" class="tbn btn-link">Contacter</a>
      </td>
      <td>
        <button>Bannir</button>
      </td> -->
    </tr>
  </tbody>
</table>
